<div>
    <div style="background-color: #A9A9A9; float: left;">
        <h4>Entrada:</h4>
        &nbsp;
        <textarea id="text-area" name="codigo" cols="95" rows="20">
        </textarea>
        <br>
        <label id="labelpos"></label>
    </div>

    <div style="float: right;">
        <h4>Salida:</h4>
        <textarea name="salida" cols="95" rows="20" readonly></textarea>
        &nbsp;
    </div>
</div>
<br>
<div style="clear: both;">
    <br>
    &nbsp;
    <button type="button" class="btn btn-success">Traducir</button>
    &nbsp;
    &nbsp;
    <button type="button" class="btn btn-info">Ejecutar</button>
</div>
<br>
<div>
    <h4>Terminal:</h4>
    &nbsp;
    <textarea name="terminal" cols="150" rows="13" readonly class="term" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px;"></textarea>
</div>