<div>
    <div style="background-color: #A9A9A9; float: left;">
        <h4>Entrada:</h4>
        &nbsp;
        <script>
            var editor = $("#txtcod");
            function getSelected(){
                var u = editor.val();
                alert(u);
            }
        </script>
        <textarea id="txtcod" name="codigo" cols="100" rows="20"></textarea>
        <br>
        <label id="labelpos"></label>
    </div>

    <div style="float: right;">
        <h4>Salida:</h4>
        <textarea name="salida" cols="100" rows="20" readonly></textarea>
        &nbsp;
    </div>
</div>
<br>
<div style="clear: both;">
    <br>
    &nbsp;
    <button type="button" class="btn btn-success">Traducir</button>
    &nbsp;
    &nbsp;
    <button type="button" class="btn btn-info">Ejecutar</button>
</div>
<br>
<div>
    <h4>Terminal:</h4>
    &nbsp;
    <textarea name="terminal" cols="150" rows="13" readonly class="term"></textarea>
</div>